html{
	/*: 0.7;*/
}

.ui-tab-default {
    border: 1px solid #cccccc;
/*	background: #f6f6f6 url("images/ui-bg_gloss-wave_100_f6f6f6_500x100.png") 50% 50% repeat-x;*/	
    font-weight: bold;
	color: #1c94c4;
}

.ui-tab-header {

}

.panel{
	border-style: solid;	
}


.drop, #lvl2Drop{
	border-style: solid;
	height: 200px;
	width: 200px;
	background:orange;
	float:left;
}

#lvl2Drop{
	width: 400px;
	overflow: scroll;
}

.lvl1Perm{
	height:20px;
	width:300px;
	/*display: inline-block;*/
	/*z-index:3*/
}

#combos{
	border-style:solid;
	width:600px;
	overflow:scroll;
	height:200px;
	float:bottom;
}


button{
	float:right;
}

.ui-widget-header {
	height: 1.5em;
	text-align: center;
	text-height: 1.25em;
	margin: 0;
}


#level0{
	height: 600px;
	background:#909090;
	position: absolute;
	width: 1000px;
	
}

#level1{
	z-index:1;
	position:fixed;
	top: 500px;
	height:500px;
	background: #B0B0B0;
	width: 1000px;
}

#level2{
	z-index:2;
	position:fixed;
	top: 575px;
	height: 500px;
	background:#D0D0D0;
	width: 1000px;
}

/*#greens{

	z-index:1;
}*/